hr {
    border: none; /* Remove default border */
    border-top: 2px solid #000; /* Add custom border on top */
    margin: 20px 0; /* Add margin above and below the line */
}
body{
    height: 100%;
}
.button_container{
    display: flex;
    justify-content: center; /* Horizontal Alignment */
    align-items: center; /* Vertical Alignent */
}
.button_container button{
    margin-right: 10px;
    background-color: aquamarine;
    color: black;
    font-size: 15px;
}
h1{
    text-align: center;
}
h2{
    text-align:center;
}
